@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100vh;

}

/* todo) HEADER */
header {
   width: 100%;
   height: 50px;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

header .menyu {
   position: absolute;
   left: 32px;
   display: none;
}

header .menyu #hamburger_ico {
   font-size: 30px;
}

header .menyu #hamburger {
   display: none;
}


header .nav_logo {
   width: 50px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

}

header .nav_logo img {
   width: 30px;
   margin-top: 5px;
   transition: 200ms;
}

header .nav_logo:hover img {
   transform: translateX(5px);
   width: 45px;
}

header nav {
   width: 80%;
 
}

header nav ul {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

header nav ul li {
   width: 105px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 5px;
   margin-top: 20px;
}

li a {
   color: white;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 15px;
   transition: 200ms;
   padding: 3px;
}

li:hover a {
   color: orange;
   background-color: white;
   border-radius: 15px;
   box-shadow: 0 0 5px 5px orange;
   font-size: 17px;
}



.tel_ad {
   width: 100%;
   height: 100px;
   background-color: black;
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: sans-serif;
   font-size: 20px;
   color: white;
   z-index: 1;
   visibility: hidden;
}


.phone:hover .tel_ad {
   visibility: visible;
}

.tel_ad li a {
   color: white;
   background-color: black;
   font-size: 20px;
   box-shadow: none;
}

.tel_ad li a:hover {
   color: orange;
}


.smart_home_inside {
   width: 100%;
   height: 100px;
   background-color: black;
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   visibility: hidden;
}

.smart_home:hover .smart_home_inside {
   visibility: visible;
}

.smart_home_inside li a {
   background-color: black;
   box-shadow: none;
   border-radius: 0;
   color: white;
   position: relative;
   padding: 20px;
}

.smart_home_inside li:hover a {
   color: orange;
}

.life_style_inside {
   width: 100%;
   height: 100px;
   background-color: black;
   position: absolute;
   top: 50px;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1;
   visibility: hidden;
   color: white;
}

.life_style:hover .life_style_inside {
   visibility: visible;
}

.life_style_inside li a {
   background-color: black;
   border-radius: 0;
   box-shadow: none;
   color: white;
}

.life_style_inside li:hover a {
   color: orange;
}


.search_bar {

   height: 30px;
   background-color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: 20px;
   position: absolute;
   top: 10px;
   /* left: auto; */
   right: 20%;
   padding: 1px 5px;
}

.search_bar input {
   width: 0;
   border: 0;
   outline: 0;
   margin-left: 5px;
   background: transparent;
   transition: 600ms;
}

.search_bar:hover input {
   width: 200px;
}

.search_bar input:focus {
   width: 200px;
}

.search_bar a i {
   margin-right: 5px;
}

.nav_account {
   width: 40px;
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   right: 10px;
}

.nav_account img {
   width: 35px;
   transition: 200ms;
}

.nav_account:hover img {
   transform: scale(1.3);
}

/* todo) ============================== HEADER BITDI ================================== */


/* ! ============================= MAİN ============================================= */

/* * ============ SECTION 1 ============= */

.section1 {
   width: 100%;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

.section1 .section1-word {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   padding: 30px;
}

.section1 img {
   width: 100%;
   height: 400px;
}

.section1 .section1-word h1 {
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   font-weight: 350;

}

.section1 .section1-word p {
   font-family: "Open Sans", sans-serif;
   margin-top: 10px;
}

.section1 .section1-word a {
   font-family: "Open Sans", sans-serif;
   text-decoration: none;
   color: white;
   background-color: black;
   padding: 5px 20px;
   border-radius: 10px;
   transition: 500ms;
   position: absolute;
   top: 100%;
   left: 35%;
}

.section1 a:hover {
   box-shadow: 0 0 5px 5px orange;
   background-color: white;
   color: orange;
}

/* * ============ SECTION 1 END ============= */


/* * ============ SECTION 2 ============= */

.section2 {
   width: 100%;
   height: 600px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr auto;
   grid-template-rows: 1fr auto;
   column-gap: 200px;
   align-items: center;
   justify-content: center;
   position: relative;

}

.section2 .section_title {
   position: absolute;
   top: 2%;
   left: 40%;
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   letter-spacing: 10px;
}

.section2 .all_boxs {
   width: 95%;
   display: flex;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   justify-content: space-between;
   align-items: center;
   margin-top: 20px;

}



.section2 .all_boxs .box {
   width: 300px;
   height: 400px;
   outline: 2px solid rgb(0, 0, 0, 0.527);
   border-radius: 10px;
   margin-top: 50px;
   transition: 300ms;


}

@media (max-width:975px) {
   .section2 {
      height: 900px;
   }

   .section2 .all_boxs {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .section2 .all_boxs .box {
      margin-top: 10px;
   }

   .section2 .section_title {
      top: 2%;
   }

   
}

@media(max-width:632px) {
   .section2 {
      height: 1350px;
   }
}


.section2 .box:hover {
   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.527);
}

.section2 .box1 {
   width: 95%;
   background-image: url("./Image/smart-home_page_img/tv1.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section2 .box1 h1 {
   position: absolute;
   top: 10%;
   right: 11%;
   font-family: "Open Sans", sans-serif;
   font-size: 22px;
}

.section2 .box1 p {
   position: absolute;
   top: 20%;
   right: 19%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section2 .box1 a {
   position: absolute;
   bottom: 10%;
   left: 34%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section2 .box1 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section2 .box2 {
   width: 90%;
   background-image: url("./Image/smart-home_page_img/tv2.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section2 .box2 h1 {
   position: absolute;
   top: 10%;
   right: 11%;
   font-family: "Open Sans", sans-serif;
   font-size: 22px;
}

.section2 .box2 p {
   position: absolute;
   top: 20%;
   right: 17%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section2 .box2 a {
   position: absolute;
   bottom: 10%;
   left: 34%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section2 .box2 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section2 .box3 {
   width: 90%;
   background-image: url("./Image/smart-home_page_img/tv3.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section2 .box3 h1 {
   position: absolute;
   top: 10%;
   right: 13%;
   font-family: "Open Sans", sans-serif;
   font-size: 22px;
}

.section2 .box3 p {
   position: absolute;
   top: 20%;
   right: 13%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section2 .box3 a {
   position: absolute;
   bottom: 10%;
   right: 32%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section2 .box3 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

/* * ============ SECTION 2 END ============= */

/* * ============ SECTION 3 ============= */
.section3 {
   width: 100%;

}


/* * ============ SECTION 3 END ============= */


/* * ============ SECTION 4 ============= */
.section4 {
   width: 100%;
   height: 700px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr auto;
   grid-template-rows: 1fr auto;
   align-items: center;
   justify-content: center;
   position: relative;
   /* background-color: red; */

}

.section4 .all_boxs {
   width: 95%;
   height: 600px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* background-color: yellow;  */
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.section4 .section_title {
   position: absolute;
   top: 7%;
   left: 32.5%;
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   letter-spacing: 5px;
}

.section4 .all_boxs .box {
   width: 300px;
   height: 400px;
   outline: 2px solid rgba(0, 0, 0, 0.527);
   border-radius: 10px;
   transition: 300ms;
}


@media (max-width:975px) {
   .section4 {
      height: 1000px;
   }

   .section4 .all_boxs {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .section4 .all_boxs .box {
      margin-top: 10px;
   }

   .section4 .section_title {
      top: 2%;
   }

  
}

@media(max-width:632px) {
   .section4 {
      height: 1550px;
   }

   .section4 .all_boxs {
      height: 1250px;
   }
}

.section4 .box:hover {
   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.527);
}

.section4 .box1 {
   width: 95%;
   background-image: url("./Image/smart-home_page_img/fan1.png");
   background-position: 50% 65%;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section4 .box1 h1 {
   position: absolute;
   top: 10%;
   right: 5%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section4 .box1 p {
   position: absolute;
   top: 18%;
   left: 15%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section4 .box1 a {
   position: absolute;
   bottom: 5%;
   left: 35%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section4 .box1 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section4 .box2 {
   width: 95%;
   background-image: url("./Image/smart-home_page_img/fan2.png");
   background-position: 50% 72%;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section4 .box2 h1 {
   position: absolute;
   top: 10%;
   right: 5%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section4 .box2 p {
   position: absolute;
   top: 18%;
   left: 1%;
   font-family: "Open Sans", sans-serif;
   font-size: 12px;
   text-align: center;
}

.section4 .box2 a {
   position: absolute;
   bottom: 5%;
   right: 35%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section4 .box2 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section4 .box3 {
   width: 95%;
   background-image: url("./Image/smart-home_page_img/fan3.png");
   background-position: 50% 77%;
   background-repeat: no-repeat;
   background-size: 80%;
   position: relative;
}

.section4 .box3 h1 {
   position: absolute;
   top: 10%;
   right: 5%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section4 .box3 p {
   position: absolute;
   top: 20%;
   right: 25%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section4 .box3 a {
   position: absolute;
   bottom: 5%;
   right: 37%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section4 .box3 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

/* * ============ SECTION 4 END ============= */


/* * ============ SECTION 5 ============= */

.section5 {
   width: 100%;
   height: 600px;
   display: grid;
   grid-template-columns: 400px 300px 300px;
   column-gap: 120px;
   align-items: center;
   justify-content: center;
   position: relative;
   /* background-color: red; */

}

.section5 .all_boxs {
   width: 95%;
   height: 600px;
   /* background-color: yellow; */
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@media (max-width:975px) {
   .section5 {
      height: 1300px;
   }

   .section5 .all_boxs {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .section5 .all_boxs .box {
      margin-top: 10px;
   }

   .section5 .section_title {
      top: 2%;
   }

   
}

@media(max-width:632px) {
   .section5 {
      height: 1650px;
   }

   .section5 .all_boxs {
      height: 1400px;
   }

   .section5 .section_title {
      margin-top: -10%;
      margin-left: -15%;
   }
}


.section5 .section_title {
   position: absolute;
   top: 7%;
   left: 36%;
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   letter-spacing: 5px;
}

.section5 .all_boxs .box {
   width: 300px;
   height: 400px;
   outline: 2px solid rgba(0, 0, 0, 0.527);
   border-radius: 10px;
   margin-top: 50px;
   transition: 300ms;
}

.section5 .box:hover {
   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.527);
}

.section5 .box1 {
   background-image: url("./Image/smart-home_page_img/blend1.png");
   background-position: 50% 75%;
   background-repeat: no-repeat;
   background-size: 80%;
   position: relative;
}

.section5 .box1 h1 {
   position: absolute;
   top: 10%;
   left: 20%;
   font-family: "Open Sans", sans-serif;
   font-size: 20px;
}

.section5 .box1 p {
   position: absolute;
   top: 19%;
   left: 3%;
   font-family: "Open Sans", sans-serif;
   font-size: 13px;
}

.section5 .box1 a {
   position: absolute;
   bottom: 5%;
   left: 38%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section5 .box1 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section5 .box2 {
   background-image: url("./Image/smart-home_page_img/blend2.png");
   background-position: 50% 62%;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section5 .box2 h1 {
   position: absolute;
   top: 10%;
   right: 6%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section5 .box2 p {
   position: absolute;
   top: 19%;
   right: 18%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section5 .box2 a {
   position: absolute;
   bottom: 5%;
   right: 35%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section5 .box2 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section5 .box3 {
   background-image: url("./Image/smart-home_page_img/blend3.png");
   background-position: 50% 75%;
   background-repeat: no-repeat;
   background-size: 80%;
   position: relative;
}

.section5 .box3 h1 {
   position: absolute;
   top: 10%;
   right: 5%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section5 .box3 p {
   position: absolute;
   top: 18%;
   right: 4%;
   font-family: "Open Sans", sans-serif;
   font-size: 12px;
}

.section5 .box3 a {
   position: absolute;
   bottom: 5%;
   right: 38%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section5 .box3 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

/* * ============ SECTION 5 END ============= */


/* * ============ SECTION 6 ============= */
.section6 {
   width: 100%;
   height: 600px;
   display: grid;
   grid-template-columns: 400px 300px 400px;
   column-gap: 100px;
   align-items: center;
   justify-content: center;
   position: relative;
   
}

.section6 .section_title {
   position: absolute;
   top: 7%;
   left: 40%;
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   letter-spacing: 5px;
}

.section6 .all_boxs{
   width: 95%;
   height: 600px;
 
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%, -50%);
}
@media (max-width:975px) {
   .section6 {
      height: 1100px;
   }

   .section6 .all_boxs {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .section6 .all_boxs .box {
      margin-top: 10px;
   }

   .section6 .section_title {
      top: 2%;
   }
   .section6 .section_title{
      margin-left: -50px;
   }
}

@media(max-width:632px) {
   .section6 {
      height: 1650px;
   }

   .section6 .all_boxs {
      height: 1400px;
   }
   .section6 .section_title{
      margin-left: -80px;
   }

   
}

.section6 .box {
   width: 300px;
   height: 400px;
   outline: 2px solid rgba(0, 0, 0, 0.527);
   border-radius: 10px;
   margin-top: 50px;
   transition: 300ms;
}

.section6 .box:hover {
   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.527);
}

.section6 .box1 {
   background-image: url("./Image/smart-home_page_img/light1.png");
   background-position: 50% 65%;
   background-repeat: no-repeat;
   background-size: 80%;
   position: relative;
}

.section6 .box1 h1 {
   position: absolute;
   top: 10%;
   left: 6%;
   font-family: "Open Sans", sans-serif;
   font-size: 18px;
}

.section6 .box1 p {
   position: absolute;
   top: 22%;
   left: 2%;
   font-family: "Open Sans", sans-serif;
   font-size: 10px;
}

.section6 .box1 a {
   position: absolute;
   bottom: 5%;
   left: 38%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section6 .box1 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section6 .box2 {
   background-image: url("./Image/smart-home_page_img/light2.png");
   background-position: 50% 65%;
   background-repeat: no-repeat;
   background-size: contain;
   position: relative;
}

.section6 .box2 h1 {
   position: absolute;
   top: 10%;
   right: 15%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section6 .box2 p {
   position: absolute;
   top: 18%;
   right: 15%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section6 .box2 a {
   position: absolute;
   bottom: 5%;
   right: 33%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section6 .box2 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section6 .box3 {
   background-image: url("./Image/smart-home_page_img/light3.png");
   background-position: 50% 65%;
   background-repeat: no-repeat;
   background-size: 70%;
   position: relative;
}

.section6 .box3 h1 {
   position: absolute;
   top: 10%;
   right: 0;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section6 .box3 p {
   position: absolute;
   top: 18%;
   right: 3%;
   font-family: "Open Sans", sans-serif;
   font-size: 11px;
}

.section6 .box3 a {
   position: absolute;
   bottom: 5%;
   right: 38%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section6 .box3 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

/* * ============ SECTION 6 END ============= */


/* * ============ SECTION 7 ============= */
.section7 {
   width: 100%;
   height: 600px;
   display: grid;
   grid-template-columns: 400px 300px 400px;
   column-gap: 100px;
   align-items: center;
   justify-content: center;
   position: relative;
   
}

.section7 .section_title {
   position: absolute;
   top: 7%;
   left: 40%;
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   letter-spacing: 5px;
}

.section7 .all_boxs{
   width: 95%;
  
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

}

@media (max-width:975px) {
   .section7 {
      height: 1500px;
   }

   .section7 .all_boxs {
      flex-wrap: wrap;
      justify-content: space-around;
   }

   .section7 .all_boxs .box {
      margin-top: 10px;
   }

   .section7 .section_title {
      top: 2%;
   }
   .section7 .section_title{
      margin-left: -50px;
   }
}

@media(max-width:632px) {
   .section7 {
      height: 1650px;
   }

   .section7 .all_boxs {
      height: 1400px;
   }
   .section7 .section_title{
      margin-left: -80px;
   }

   
}

.section7 .box {
   width: 400px;
   height: 400px;
   outline: 2px solid rgba(0, 0, 0, 0.527);
   border-radius: 10px;
   margin-top: 50px;
   transition: 300ms;
}

.section7 .box:hover {
   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.527);
}

.section7 .box1 {
   background-image: url("./Image/smart-home_page_img/camera1.png");
   background-position: 50% 75%;
   background-repeat: no-repeat;
   background-size: 70%;
   position: relative;
}

.section7 .box1 h1 {
   position: absolute;
   top: 10%;
   left: 27%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section7 .box1 p {
   position: absolute;
   top: 19%;
   left: 12.5%;
   font-family: "Open Sans", sans-serif;
   font-size: 13px;
}

.section7 .box1 a {
   position: absolute;
   bottom: 5%;
   left: 38%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section7 .box1 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section7 .box2 {
   background-image: url("./Image/smart-home_page_img/camera2.png");
   background-position: 50% 75%;
   background-repeat: no-repeat;
   background-size: 70%;
   position: relative;
}

.section7 .box2 h1 {
   position: absolute;
   top: 10%;
   right: 15%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section7 .box2 p {
   position: absolute;
   top: 18%;
   right: 18%;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section7 .box2 a {
   position: absolute;
   bottom: 5%;
   right: 35%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section7 .box2 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

.section7 .box3 {
   background-image: url("./Image/smart-home_page_img/camera3.png");
   background-position: 70% 90%;
   background-repeat: no-repeat;
   background-size: 80%;
   position: relative;
}

.section7 .box3 h1 {
   position: absolute;
   top: 10%;
   right: 20%;
   font-family: "Open Sans", sans-serif;
   font-size: 19px;
}

.section7 .box3 p {
   position: absolute;
   top: 18%;
   right: 0;
   text-align: center;
   font-family: "Open Sans", sans-serif;
   font-size: 15px;
}

.section7 .box3 a {
   position: absolute;
   bottom: 5%;
   right: 35%;
   text-decoration: none;
   color: white;
   background-color: black;
   border-radius: 5px;
   padding: 5px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   transition: 300ms;
}

.section7 .box3 a:hover {
   transform: translateY(-5px);
   outline: 2px solid black;
   color: black;
   background-color: white;
}

/* * ============ SECTION 7 END ============= */




/* ! ============ FOOTER ==================== */


@media (max-width:1300px){
   .footer_div .support{
      transform: scale(0.8);
      position: absolute;
      top: 0;
      left: 0;
      line-height: 40px;
      margin: 0;
      padding: 0;
   }
   .footer_div .about_us{
      transform: scale(0.8);
      position: absolute;
      top: 0;
      left: 230px;
      margin: 0;
      padding: 0;
   }  
   .footer_div .xiaomi_projects{
      transform: scale(0.8);
      position: absolute;
      top: 0;
      left: 400px;
      margin-top: 15px;
      padding: 0;
   }
}

@media (max-width:1051px){
   .footer_div .bottom_word{
      transform: scale(0.8) translateX(-110px);
   }
   .footer_ico{
      transform: scale(0.8) translateX(100px)

   }
   .footer_subscribe{
      transform: scale(0.8) translateX(60px)
   }
   
}

@media (max-width:913px){
   .footer_div .support{
      transform: scale(0.7) translateX(-20px) translateY(-50px);
      position: absolute;
      top: 0;
      left: 0;
      line-height: 40px;
      margin: 0;
      padding: 0;
   }
   .footer_div .about_us{
      transform: scale(0.7) translateX(-20px) translateY(-50px);
      position: absolute;
      top: 0;
      left: 230px;
      margin: 0;
      padding: 0;
   }  
   .footer_div .xiaomi_projects{
      transform: scale(0.7) translateX(-20px) translateY(-50px);
      position: absolute;
      top: 0;
      left: 400px;
      margin-top: 15px;
      padding: 0;
   }
}

@media (max-width:873px){
   .footer_div .bottom_word{
      transform: scale(0.6) translateX(-280px);
   }
   .footer_ico{
      transform: scale(0.6) translateX(200px)

   }
   .footer_subscribe{
      transform: scale(0.6) translateX(130px)
   }
}

footer {
   width: 100%;
   height: 600px;
   background-color: #191919;
   display: grid;
   position: relative;
}


footer div .support {
   position: absolute;
   top: 30px;
   left: 30px;
   list-style: none;
   line-height: 40px;
}

footer div .about_us {
   position: absolute;
   top: 30px;
   left: 350px;
   list-style: none;
   line-height: 40px;
}

footer div .xiaomi_projects {
   position: absolute;
   top: 30px;
   left: 650px;
   list-style: none;
   line-height: 40px;
}

li a {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   position: relative;
}

li:hover a {
   background-color: transparent;
   box-shadow: none;
   font-size: 15px;
}

li a::after {
   content: "";
   width: 0;
   height: 2px;
   position: absolute;
   left: 5px;
   bottom: -2px;
   background-color: orange;
   transition: 1s;
}

li a:hover::after {
   width: 100%;
}

footer div li:nth-of-type(1) {
   font-family: fantasy;
   font-size: 20px;
   letter-spacing: 2px;
   color: white;
}

footer .footer_ico {
   width: 250px;
   height: 100px;
   position: absolute;
   top: 40px;
   right: 100px;

}

footer .footer_ico p {
   font-family: sans-serif;
   font-size: 20px;
   color: white;
   font-weight: 600;
   text-align: center;
}

footer .footer_ico a i {
   font-size: 30px;
   color: white;
   margin-top: 20px;
   margin-left: 28px;
   transition: 200ms;
}

footer .footer_ico a:hover i {
   color: black;
   background-color: white;
   box-shadow: 0 0 10px 10px white;
   border-radius: 10px;
}

footer .footer_subscribe {
   width: 400px;
   height: 100px;
   position: absolute;
   top: 200px;
   right: 30px;
}

footer .footer_subscribe p {
   font-family: sans-serif;
   font-size: 20px;
   font-weight: 600;
   color: white;
}

footer .footer_subscribe .email_input {
   width: 100%;
   background-color: white;
   margin-top: 25px;
   border-radius: 10px;
   background: transparent;
   outline: 2px solid grey;
   padding: 1px 10px;
}

footer .footer_subscribe .email_input i {
   position: absolute;
   font-size: 25px;
   top: 85px;
   right: 15px;
}

footer .footer_subscribe input {
   width: 100%;
   height: 50px;
   outline: none;
   border: none;
   border-radius: 10px;
   background: transparent;
   color: grey;
}

footer .footer_div .line {
   width: 95%;
   background-color: white;
   height: 1px;
   position: absolute;
   left: 30px;
   bottom: 100px;
}

footer .footer_div .bottom_word {
   position: absolute;
   bottom: 30px;
   left: 0;
}

footer .footer_div .bottom_word span {
   color: white;
   margin-left: 30px;
   font-family: sans-serif;
}

footer .footer_div .global {
   position: absolute;
   bottom: 30px;
   right: 30px;
}

footer .footer_div .global span {
   color: white;
   font-family: sans-serif;
}

footer .footer_div .global i {
   margin-left: 5px;
   font-size: 20px;
}


/* ! ============ FOOTER END ==================== */

/* ? UP İCON */
.up_ico {
   position: sticky;
   bottom: 0;
   left: 2000px;
   font-size: 40px;
}

/* ? UP İCON */


/* todo) RESPOSIVE */




@media only screen and (max-width:800px) {
   header .menyu {
      display: block;
   }

   header .nav_logo {
      margin-left: 70px;
   }

   header nav {
      width: 50%;
      height: 420px;
      position: absolute;
      top: 50px;
      z-index: 1;
      background-color: black;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   header nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
   }

   header .tel_ad {
      margin-top: 50px;
      margin-left: 100px;
      background: transparent;
   }

   header .smart_home_inside {
      margin-top: 100px;
      margin-left: 100px;
      background: transparent;
   }

   header .life_style_inside {
      margin-top: 150px;
      margin-left: 100px;
      background: transparent;
   }

   .search_bar input {
      width: 200px;
   }

   .menyu #hamburger:checked~header nav {
      display: none;
   }
}